<!-- <div > -->

    <app-new-task [userId]='userSelected!.id' *ngIf="formState" (close)="onCloseForm()" />

    <div id="tasks" *ngIf="userSelected">

        <header>
            <h2>{{ userSelected.name }}'s Tasks</h2>
            <menu>
                <button (click)="toggleForm()" mat-flat-button color="primary">{{ formState ? "Cancel" : "Add Task" }}</button>
            </menu>
        </header>




        <ul>
            <li *ngFor="let task of userSelectedTasks">
                <app-task [task]="task" (complete)="onCompleteTask($event)"/>
            </li>
        </ul>

    </div>

<!-- </div> -->

